

h1 {
  font-family: verdana;
  font-size: 20px;

}
p {
  font-family: verdana;
  font-size: 10px;
}

form {
  margin-bottom: 5px;
}


#todoList {
  border-spacing:5px 0px;
  border-collapse: separate;
}

input[type=checkbox] {
  margin-bottom: 4px;
}*/
