h1 {
  font-family: verdana;
  font-size: 20px;
  margin: 10px;
}

p {
  font-family: verdana;
  font-size: 10px;
}

form {
  margin-bottom: 5px;
}

#header {
  margin: 0;
  padding: 5px;
}

.deleteButton {
  height: 22px;
  line-height: 22px;
  padding: 0.1 0.4rem;
  font-size: 12px;
}

.checkboxCell {
  width: 150px;
}

#todoList {
  border-spacing:5px 0px;
  border-collapse: separate;
}

table td {
    padding: 0;
    align-items: baseline;
    min-width: 185px;
}

td {
    vertical-align: baseline;
}

table tr {
    padding: 0;
    align-items: baseline;
}
