h1 {
  font-family: verdana;
  font-size: 20px;
  margin: 10px;
}

p {
  font-family: verdana;
  font-size: 10px;
}

form {
  margin-bottom: 5px;
}

#header {
  margin: 0;
  padding: 5px;
}

.deleteButton {
  height: 22px;
  padding: 0.1 0.4rem;
  font-size: 8px;
}

#edit {
  height: 28px;
  line-height: 28px;
  padding: 0.8 0.8rem;
  font-size: 12px;
}

.checkboxCell {
  width: 150px;
}

#more {
  font-size: 30px;
}

#todoList {
  border-spacing:5px 0px;
  border-collapse: separate;
}

table td {
    padding: 0;
    align-items: baseline;
    min-width: 185px;
}

td {
    vertical-align: baseline;
}

table tr {
    padding: 0;
    align-items: baseline;
}

#main {
  overflow:hidden;
  /*padding-bottom: 50px;*/
}

.footer {
  position: relative;
	/*margin-top: -50px;*/
	/*height: 50px;*/
	clear:both;
  margin-top: 15px;
  margin-bottom: 0;
}

#wrap {
  min-height: 100%;
}

#editMenu {
  display: none;
}

.editButton {
  height: 28px;
  width: 85px;
  line-height: 28px;
  padding: 0.8 0.8rem;
  font-size: 10px;
}

.edit {
  align: right;
}

.input-field label {
  color: #444;
}

[type="checkbox"]+label:before {
  border: 2px solid #757575;
}

input[type=text].valid, input[type=text]:focus.valid {
  border-bottom: 1px solid #4db6ac;
  box-shadow: 0 1px 0 0 #4db6ac;
}

.input-field .prefix {
  font-size: 1.5rem;
}

.material-icons {
  line-height: inherit;
}

#tableDiv {
  display: none;
}
